/* Header styles */
header {
    background-color: #6b47dc;
    padding: 20px;
    text-align: center;
}

header .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header .nav-links li {
    display: inline;
}

header .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header .nav-links a:hover {
    background-color: #4c33a1;
}

/* Footer styles */



footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 100%;
}


.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tag-input-box {
    padding: 20px;
    background-color: #f0eef7;
    border-radius: 8px;
    margin-bottom: 30px;
}

.tag-input-box input {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
}

.user-guide ol {
    padding-left: 20px;
}

.user-guide li {
    margin-bottom: 5px; /* Increase the margin-bottom for more space between lines */
}

.user-guide p {
    font-size: 1em;
    color: #333;
}

#add-tag-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6b47dc;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.tags {
    display: flex;
    padding-top: 7px;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tag span {
    margin-right: 10px;
}

.tag .remove-tag {
    cursor: pointer;
    color: red;
}

.search-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6b47dc;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.music-recommendations {
    margin-top: 20px;
    display: none;
}

.music-recommendations h2 {
    margin-bottom: 20px;
}

.music-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.music-card {
    background-color: #f0eef7;
    border-radius: 8px;
    padding: 20px;
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.title-container {
    height: 40px; /* Example: Fixed height */
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    white-space: nowrap;
}

.author-container {
    height: 30px; /* Example: Fixed height */
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    white-space: nowrap;
}

.play-digg-container {
    font-size: 12px; 
    color: #666; 
    margin-top: 5px; 
    align-items: center;
    white-space: nowrap;
}

.music-card img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}

.music-card h3 {
    margin: 10px 0 5px;
}

.music-card p {
    margin: 5px 0;
}

.music-card button, .music-card a {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6b47dc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%; /* Ensures buttons are the same width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#music-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6b47dc;
    color: white;
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}


#music-bar #current-song-info {
    flex-grow: 1;
}

#music-bar #controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px; /* Spacing between controls and time info */
}

#music-bar #controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#time-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-right: 20px; /* Ensures spacing between time and progress bar */
}

#progress-bar {
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
}

#loading {
    display: none;
    text-align: center;
    padding: 20px;
}

#loading img {
    width: 50px;
    height: 50px;
}

#upload-form input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#upload-status {
    margin-top: 20px;
    font-size: 16px;
    display: none;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.identified-music-details {
    padding: 20px;
    background-color: #f0eef7;
    border-radius: 8px;
    margin: 20px 0;
    display: none;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cover-img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}

.identified-music-section {
    background-color: #e6e0fa;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.identified-music-section h3 {
    text-align: center;
}

.identified-music-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6b47dc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.loading-notice {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    z-index: 1000;
}

.platform-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
